<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create</title>
    <link rel="stylesheet" href="/stylesheets/create.css">
    <script src="https://kit.fontawesome.com/9189716859.js" crossorigin="anonymous"></script>
</head>
<body>

    <section class="first">
      <main>
        <div class="left">
          <h1 class="topic">YelpCamp</h1>
          <div class="left-content">
            <h1>Travel the world!</h1>
            <p class="left-para">Your location to the world! So what's stopping you?</p>
            <ul>
              <li><a href="#"><i class="fa-brands fa-instagram"></i></a></li>
              <li><a href="#"><i class="fa-brands fa-facebook"></i></a></li>
              <li><a href="#"><i class="fa-brands fa-linkedin"></i></a></li>
              <li><a href="#"><i class="fa-brands fa-x-twitter"></i></a></li>
            </ul>
          </div>
        </div>
        <div class="right">
          <div class="right-content">
            <h1 class="right-header">Create New Location</h1>
            <form action="/camps" method="post">
  
              <div class="inp">
                <i class="fa-solid fa-mountain"></i>
                <input type="text" id="title" name="title" placeholder="Title" required>
              </div>
      
              <div class="inp">
                <i class="fa-solid fa-location-dot"></i>
                <input type="text" id="location" name="location" placeholder="location" required>
              </div>
      
              <div class="inp">
                <i class="fa-regular fa-image"></i>
                <input type="text" id="image" name="image" placeholder="Image" required>
              </div>
      
              <div class="inp">
                  <i class="fa-solid fa-dollar-sign"></i>
                  <input type="number" id="price" name="price" placeholder="Price" required>
              </div>
      
              <div class="special">
                  <textarea name="description" id="description" cols="50" rows="5" placeholder="Description" required></textarea>
              </div>
      
                <button>Create!</button>
                <a href="/camps">Cancel</a>
      
            </form>
          </div>
        </div>
    </main>

      <footer>
          <p>&copy;2023 YelpCamps</p>
      </footer>
    </section>
</body>
</html>