<link rel="stylesheet" href="stylesheets/home.css">
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Uh-oh</title>
    <link rel="stylesheet" href="/stylesheets/error.css">
    <script src="https://kit.fontawesome.com/9189716859.js" crossorigin="anonymous"></script>
</head>
<body>
<body>
    <section class="first">
        <main>
            <div class="main-content">
                <div class="content">
                    <h1><%= err.statusCode %></h1>
                    <p class="para"><%= err.message %>!</p>
                    <a href="/camps">Back Home</a>
                </div>
            </div>
        </main>

        <footer>
            <p>&copy;2023 YelpCamps</p>
        </footer>
    </section>
</body>
</html>