<link rel="stylesheet" href="stylesheets/home.css">
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Boiler</title>
    <link rel="stylesheet" href="/stylesheets/error.css">
    <script src="https://kit.fontawesome.com/9189716859.js" crossorigin="anonymous"></script>
</head>
<body>
<body>
    <section class="first">
        <main>
            <div class="content">
                <div class="part">
                    <img src="/images/404-left.png" alt="left plug">
                </div>
                <div class="mid">
                    <h1><%= err.message %> - <%= err.statusCode %></h1>
                    <a href="/camps">Back Home</a>
                </div>
                <div class="part">
                    <img src="/images/404-right.png" alt="right plug" class="special-img">
                </div>
            </div>
        </main>

        <footer>
            <p>&copy;2023 YelpCamps</p>
        </footer>
    </section>
</body>
</html>